[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
pydantic-settings = "*"
loguru = "*"
aiomysql = "*"
boto3 = "*"
python-jose = "*"
passlib = "*"
bcrypt = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
